<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="harry.spring.boot.neo4j.mapper.UserMapper">
    <select id="findByUsername" parameterType="int" resultType="harry.spring.boot.neo4j.entity.User">
    	SELECT * FROM user WHERE username=#{username}
    </select>
    
    <insert id="save">
       INSERT INTO user VALUES(#{id},#{username},#{password})
    </insert>
</mapper>